<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="./style.css"> -->
	<title>Document</title>
</head>
<body>
	<header style="background-color: aquamarine; text-align: center;">
		<p>
			<h4>
				<a href="{% url 'about' %}">About&nbsp;</a>
				<a href="{% url 'menu' %}">Menu&nbsp;</a>
				<a href="#">Contact Us&nbsp;</a>
			</h4>
		</p>
	</header>
	<h1 style="text-align: center;">This is Main Page</h1>
	{% include './footer.html' %}
</body>
</html>
